<section class="py-16 bg-gray-50">
    <div class="max-w-7xl mx-auto px-6 lg:px-8 text-center">
        <h2 class="text-3xl md:text-4xl font-bold text-primary mb-8">
            Conoce más <br /> sobre <span class="text-info">American Trekking Cusco</span>
        </h2>
        <p class="text-lg text-gray-600 mb-8">
            En <span class="font-semibold text-gray-800">American Trekking Cusco</span>, nuestra misión es brindar experiencias únicas e inolvidables, explorando los paisajes majestuosos y las maravillas culturales de Cusco y sus alrededores. Con un enfoque en calidad, seguridad y sostenibilidad, ofrecemos 
            <span class="text-primary">paquetes personalizados</span> para viajeros de todo el mundo.
        </p>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="p-6 bg-gray-50 rounded-lg shadow-md">
                <img src="/images/team.avif" alt="Nuestro Equipo" class="w-full h-48 object-cover rounded-lg mb-4"/>
                <h3 class="text-xl font-bold text-primary mb-2">Nuestro Equipo</h3>
                <p class="text-gray-600">
                    Profesionales apasionados y expertos en guías turísticas, comprometidos con brindar atención personalizada y servicio excepcional.
                </p>
            </div>
            <div class="p-6 bg-gray-50 rounded-lg shadow-md">
                <img src="/images/destinos.avif" alt="Nuestros Destinos" class="w-full h-48 object-cover rounded-lg mb-4"/>
                <h3 class="text-xl font-bold text-primary mb-2">Nuestros Destinos</h3>
                <p class="text-gray-600">
                    Desde <span class="font-semibold">Machu Picchu</span> hasta senderos menos conocidos, descubre los mejores lugares que el Perú tiene para ofrecer.
                </p>
            </div>
            <div class="p-6 bg-gray-50 rounded-lg shadow-md">
                <img src="/images/compromisosocial.avif" alt="Compromiso Social" class="w-full h-48 object-cover rounded-lg mb-4"/>
                <h3 class="text-xl font-bold text-primary mb-2">Compromiso Social</h3>
                <p class="text-gray-600">
                    Apoyamos a las comunidades locales, promoviendo el desarrollo sostenible y respetando la rica cultura de la región.
                </p>
            </div>
        </div>
        <a href="#contact" class="mt-12 inline-block px-8 py-3 bg-primary text-white text-lg font-semibold rounded-lg shadow-md transition hover:bg-info hover:shadow-xl">
            ¡Planifica tu aventura con nosotros!
        </a>
    </div>
</section>