<footer class="bg-black text-white py-8">
    <div class="container mx-auto px-6 md:px-12">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div>
                <h3 class="text-xl font-semibold mb-4">
                    Sobre Nosotros
                </h3>
                <p>
                    Somos una empresa dedicada a ofrecer experiencias únicas de viaje en Perú, apoyando a comunidades locales y respetando el medio ambiente.
                </p>
            </div>

            <div>
                <h3 class="text-xl font-semibold mb-4">
                    Enlaces Útiles
                </h3>
                <ul>
                    <li>
                        <a href="#" class="text-white hover:text-olive">
                            Términos y Condiciones
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white hover:text-olive">
                            Política de Privacidad
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white hover:text-olive">
                            Preguntas Frecuentes
                        </a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="text-xl font-semibold mb-4">
                    Síguenos
                </h3>
                <div class="flex space-x-4">
                    <a href="https://www.facebook.com/profile.php?id=61568877215883" class="text-white hover:text-olive" target="_blank">
                        <i class="fab fa-facebook-f fa-2xl"></i>
                    </a>
                    <a href="#" class="text-white hover:text-olive">
                        <i class="fab fa-instagram fa-2xl"></i>
                    </a>
                    <a href="#" class="text-white hover:text-olive">
                        <i class="fab fa-youtube fa-2xl"></i>
                    </a>
                    <a href="https://www.tiktok.com/@_american_treking" class="text-white hover:text-olive" target="_blank">
                        <i class="fab fa-tiktok fa-2xl"></i>
                    </a>
                </div>
            </div>

            <div>
                <h3 class="text-xl font-semibold mb-4">
                    Contacto
                </h3>
                <p class="mb-2">
                    Correo: 
                    <a href="mailto:contacto@americantrekkingcusco.com" class="text-white hover:text-olive">
                        contacto@americantrekkingcusco.com
                    </a>
                </p>
                <p>
                    Teléfono: 
                    <a href="tel:918024860" class="text-white hover:text-olive">
                        918 024 860
                    </a>
                </p>
            </div>
        </div>

        <div class="mt-8 text-center">
            <p>
                &copy; 2024 American Trekking Cusco - Todos los derechos reservados. | RUC: 10771690497
            </p>
            <p>
                Diseñado por 
                <a href="https://www.facebook.com/rubenestebantipiania/" class="hover:text-olive" target="_blank">
                    Rubén Tipiani
                </a>
            </p>
        </div>
    </div>
</footer>