<section class="py-16 bg-gray-50">
    <div class="max-w-7xl mx-auto px-6 lg:px-8 text-center">
        <h2 class="text-3xl md:text-4xl font-bold text-primary mb-8">Medios <br /> de Pago Aceptados</h2>
        <p class="text-lg text-gray-600 mb-8">
            Aceptamos una variedad de opciones de pago seguras y convenientes para que tu experiencia sea aún más fácil y sin complicaciones.
        </p>
        <!-- Contenedor para las imágenes con flex-wrap para que las imágenes no se salgan de los límites -->
        <div class="flex flex-wrap justify-center gap-6">
            <img src="/images/visa.avif" alt="Visa" class="w-24 h-10 max-w-full" />
            <img src="/images/mastercard.avif" alt="Mastercard" class="w-24 h-10 max-w-full" />
            <img src="/images/paypal.avif" alt="Paypal" class="w-24 h-10 max-w-full" />
            <img src="/images/western-union.avif" alt="Western Union" class="w-24 h-10 max-w-full" />
            <img src="/images/yape.avif" alt="Yape" class="w-24 h-10 max-w-full" />
            <img src="/images/plin.avif" alt="Plin" class="w-24 h-10 max-w-full" />
            <img src="/images/amex.avif" alt="American Express" class="w-24 h-10 max-w-full" />
        </div>
        <p class="text-gray-600 mt-6">Si prefieres una opción que no aparece aquí, no dudes en contactarnos. <br /> ¡Nos adaptamos a tus necesidades!</p>
    </div>
</section>