<section class="bg-olive hidden md:flex md:items-center md:justify-center md:py-4 md:px-8">
    <div class="flex items-center space-x-12 text-sm">
        <div>
            <a href="tel:+5184254278" class="text-gray-100 hover:text-gray-300 hover:underline">
                <i class="fas fa-phone"></i>
                +51 918 024 860
            </a>
        </div>

        <div class="flex space-x-4 text-xl">
            <a href="https://www.tiktok.com" target="_blank" class="bg-gray-200 p-2 rounded-full flex items-center justify-center w-9 h-9 hover:bg-gray-300 transition">
                <img src="/images/tik-tok.png" 
                     alt="TikTok" 
                     class="inline-block w-4 h-4">
            </a>
            <a href="https://www.facebook.com" target="_blank" class="bg-gray-200 p-2 rounded-full flex items-center justify-center w-9 h-9 hover:bg-gray-300 transition">
                <img src="/images/facebook.png" 
                     alt="Facebook" 
                     class="inline-block w-4 h-4">
            </a>
            <a href="https://www.instagram.com" target="_blank" class="bg-gray-200 p-2 rounded-full flex items-center justify-center w-9 h-9 hover:bg-gray-300 transition">
                <img src="/images/instagram.png" 
                     alt="Instagram" 
                     class="inline-block w-4 h-4">
            </a>
            <a href="https://www.tripadvisor.com" target="_blank" class="bg-gray-200 p-2 rounded-full flex items-center justify-center w-9 h-9 hover:bg-gray-300 transition">
                <img src="/images/tripadvisor.png" 
                     alt="TripAdvisor" 
                     class="inline-block w-5 h-5">
            </a>
        </div>

        <div>
            <a href="mailto:contacto@americantrekking.com" class="text-gray-100 hover:underline hover:text-gray-300">
                <i class="fas fa-envelope"></i>
                informes@americantrekkingcusco.com
            </a>
        </div>
    </div>
</section>  