<section class="py-16 relative bg-cover bg-center bg-no-repeat" style="background-image: url('/images/travel-and-tourism.avif');">
    <div class="absolute inset-0 bg-accentBlack bg-opacity-90"></div>
    <div class="max-w-7xl relative z-10 mx-auto px-4 sm:px-8">
        <p class="text-md font-semibold text-white text-center">
            TREKKING
        </p>
        <h2 class="text-4xl font-bold text-sand text-center mb-12">
            Caminatas alternativas
        </h2>
        <div class="grid lg:grid-cols-2 gap-12">
            <div class="bg-white rounded-lg shadow-md p-6">
                <h3 class="text-2xl font-bold text-secondary mb-4">
                    Choquequirao Trekking
                </h3>
                <p class="text-gray-800 mb-4">
                    Choquequirao Trek es una caminata increíble y extenuante que lo llevará a uno de los últimos refugios de la civilización inca. Choquequirao (3.303 msnm) es un gran sitio arqueológico que aún se encuentra bajo arbustos y proceso de restauración, situado en los alrededores de la montaña sagrada Salkantay (APU) (6.272 m) y el río Apurimac. Observará maravillosos paisajes de montaña, así como mucha flora y fauna andina.
                </p>
                <ul class="list-disc list-inside text-gray-800 mb-6">
                    <li>
                        Vista de primera mano de un pueblo inca único encaramado sobre el Cañón Apurímac.
                    </li>
                    <li>
                        Conocer las montañas blancas nevadas de Salkantay y Veronica: los Dioses Sagrados de los Incas.
                    </li>
                    <li>
                        Visita Choquequirao o también llamado el nuevo Machu Picchu, tiene una gran similitud al complejo arqueológico.
                    </li>
                </ul>
                <a href="" target="_blank" aria-label="Consultar por WhatsApp" class="inline-flex items-center px-6 py-2 bg-primary text-white rounded-md shadow-md transition duration-400 ease-in-out hover:scale-105">
                    Consultar Ahora
                    <i class="fab fa-whatsapp ml-1" aria-hidden="true"></i>
                </a>
            </div>
            <div class="bg-white rounded-lg shadow-md p-6">
                <h3 class="text-2xl font-bold text-secondary mb-4">
                    Salkantay Trek
                </h3>
                <p class="text-gray-800 mb-4">
                    El tour de Camino del Inca 2 días es una opción más corta para aquellas personas con poco tiempo y que no quieran perderse esta experiencia única. Con un hermoso paisaje de selva tropical con variedad de flora y fauna, visita a los sitios arqueológicos de Chachabamba y Wiñay Wayna (Joven Por Siempre).
                </p>
                <ul class="list-disc list-inside text-gray-800 mb-6">
                    <li>
                        Visitaremos el glaciar Humantay y la impresionante puesta de sol.
                    </li>
                    <li>
                        Este viaje es operado oficialmente por AB Expeditions, un operador turístico 100% local con sede en Cusco.
                    </li>
                    <li>
                        Caminar hasta el punto más alto del sendero Salkantay (4620 msnm - 15,255 pies).
                    </li>
                    <li>
                        Dado que la ruta Salkantay tiene menos restricciones que el Camino Inca clásico, puede proporcionar una caminata de “puerta trasera” a Machu Picchu.
                    </li>
                </ul>
                <a href="" target="_blank" aria-label="Consultar por WhatsApp" class="inline-flex items-center px-6 py-2 bg-primary text-white rounded-md shadow-md transition duration-400 ease-in-out hover:scale-105">
                    Consultar Ahora
                    <i class="fab fa-whatsapp ml-1" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white py-16 px-6 lg:px-12">
    <h2 class="text-4xl font-bold text-primary text-center mb-12">
      ¿Por qué viajar con nosotros?
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
        <div class="bg-white rounded-xl shadow-md hover:shadow-xl p-8 text-center transform transition duration-300 hover:scale-105 border-2 border-gray-100">
            <div class="text-primary text-5xl mb-4">
                <i class="fas fa-user-cog"></i>
            </div>
            <h3 class="text-xl font-bold text-primary mb-4">
                Servicio Personalizado
            </h3>
            <p class="text-gray-700 leading-relaxed">
                Nuestro objetivo es ofrecer un servicio personalizado y acompañarlo en cada etapa de la planificación de su viaje.
            </p>
        </div>

        <div class="bg-white rounded-xl shadow-md hover:shadow-xl p-8 text-center transform transition duration-300 hover:scale-105 border-2 border-gray-100">
            <div class="text-primary text-5xl mb-4">
                <i class="fas fa-map-signs"></i>
            </div>
            <h3 class="text-xl font-bold text-primary mb-4">
                Experiencia
            </h3>
            <p class="text-gray-700 leading-relaxed">
                Ofrecemos experiencias de vida a través de programas de viaje que diseñamos con pasión por nuestro querido Perú.
            </p>
        </div>

        <div class="bg-white rounded-xl shadow-md hover:shadow-xl p-8 text-center transform transition duration-300 hover:scale-105 border-2 border-gray-100">
            <div class="text-primary text-5xl mb-4">
                <i class="fas fa-hand-holding-heart"></i>
            </div>
            <h3 class="text-xl font-bold text-primary mb-4">
                Servicio Comunitario
            </h3>
            <p class="text-gray-700 leading-relaxed">
                Apoyamos a pequeñas comunidades en Perú mediante la promoción y ejecución de proyectos comunitarios.
            </p>
        </div>

        <div class="bg-white rounded-xl shadow-md hover:shadow-xl p-8 text-center transform transition duration-300 hover:scale-105 border-2 border-gray-100">
            <div class="text-primary text-5xl mb-4">
                <i class="fas fa-recycle"></i>
            </div>
            <h3 class="text-xl font-bold text-primary mb-4">
                Turismo Responsable
            </h3>
            <p class="text-gray-700 leading-relaxed">
                Cumplimos con rigurosos estándares para la protección del medio ambiente y el manejo adecuado de residuos.
            </p>
        </div>

        <div class="bg-white rounded-xl shadow-md hover:shadow-xl p-8 text-center transform transition duration-300 hover:scale-105 border-2 border-gray-100">
            <div class="text-primary text-5xl mb-4">
                <i class="fas fa-users"></i>
            </div>
            <h3 class="text-xl font-bold text-primary mb-4">
                Grupos Pequeños
            </h3>
            <p class="text-gray-700 leading-relaxed">
                Somos especialistas en grupos pequeños, perfectos para parejas de luna de miel, familias y amigos.
            </p>
        </div>

        <div class="bg-white rounded-xl shadow-md hover:shadow-xl p-8 text-center transform transition duration-300 hover:scale-105 border-2 border-gray-100">
            <div class="text-primary text-5xl mb-4">
                <i class="fas fa-user-graduate"></i>
            </div>
            <h3 class="text-xl font-bold text-primary mb-4">
                Personal Capacitado
            </h3>
            <p class="text-gray-700 leading-relaxed">
                Nuestro personal capacitado está comprometido a ofrecerle una experiencia inolvidable.
            </p>
        </div>
    </div>
</section>